NUXT_DATABASE_URL=postgres://stream:stream@localhost:5432/stream
NUXT_SESSION_PASSWORD=
NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_OAUTH_TWITCH_CLIENT_ID=
NUXT_OAUTH_TWITCH_CLIENT_SECRET=
NUXT_TWITCH_WEBHOOK_SECRET=
NUXT_OAUTH_KICK_CLIENT_ID=
NUXT_OAUTH_KICK_CLIENT_SECRET=
NUXT_UPLOAD_DIR=./data/uploads
NUXT_PIPER_URL=http://localhost:5100
NUXT_LASTFM_API_KEY=
